body{
  background-color: rgb(245, 245, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

p{
  font-family:'Times New Roman', Times, serif;
  font-size: larger;   
}

h1, h2, h3{
  font-family: sans-serif;
}

a{
  font-size: large;
  font-family: sans-serif;
  cursor: pointer;
  text-decoration: none;
  color: rgb(0, 47, 255);

}

.container{
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  float: left;
  text-align: justify;
}



#corpo{
  width: 50%;
  font-family: sans-serif;
}

#titulo,#titulo2,#titulo3,#titulo4:hover{
    cursor: pointer;
    transition-duration: font-size 0.5s ease;
}

#container-lampadaplaca{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-left: 23.5%;
  margin-top: 100px;
  }

#lampada, #placa{
  width: 500px;
  border-radius: 15px;
  display: inline-block;
  }

  #smartgrid, #smartgrid2{
    width: 600px;
    height: 400px;
    border-radius: 15px;  
    float: right;
    margin-right: 100px;
  
  }


  #smartgrid{
    margin-top: 100px;
  }

  #smartgrid2{
    margin-top: 100px;
    float: left;
    width: 600px;
    margin-bottom: 100px;
  }

  #energias{
  width: 600px;
  height: 400px;
  margin: 20px;
  float: right;
  display: flex;

  }

  #crise{
    margin-top: 15%;
    width: 600px;
    height: 400px;
    border-radius: 15px;  
  }

  .texto-smartgrid{
    width: 50%;
  }

  #form, form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
  }
 
  input[type="radio"]{
    display:none;
  }

input[type="radio"] + label {
  display: inline-block;
  text-align: center;
  width: 150px;
  height: auto;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: #444;
}

input[type="radio"] + label:hover{
  background-color: #bcdcff;
  transition: background-color 0.5s ease;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

  #paginainicial{
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 10px;
      z-index: 9999;    
  }

  #email{
    width: 210px;
    height: 25px;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 15px;
  }

  button{
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    width: auto;
    height: auto;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  button:hover{
    background-color: rgb(203, 203, 203);
    transition: background-color 0.5s ease;
    cursor: pointer;
    
  }

  


 
  
 
  

  

